nav
	ul.menu-v1
		li.menu-v1__item
			a.menu-v1__link(href='javascript:void(0)') О компании
		li.menu-v1__item
			a.menu-v1__link.menu-v1__link_active Услуги
		li.menu-v1__item
			a.menu-v1__link(href='javascript:void(0)') Сотрудники
		li.menu-v1__item
			a.menu-v1__link(href='javascript:void(0)') Контакты








