.components-list .menu-v1
	margin 0
	padding 0
	
	list-style none
	
	&__item
		margin-bottom 8px

	&__link
		text-decoration none

		&:hover
			text-decoration underline
		
		&:active
			text-decoration none
		
		&_active
			cursor default
			font-weight bold
			
			&:hover
				text-decoration none
			
			&:active
				text-decoration none







