pre
	code.language-jade.
		.responsive-font
			h1 Lorem ipsum dolor
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro accusamus doloremque natus ad facilis cum, deleniti dignissimos, nulla in sequi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio aliquam inventore laudantium incidunt molestias laborum deleniti voluptatum ullam doloribus explicabo?