nav
	ul.menu-v2
		li.menu-v2__item
			a.menu-v2__link(href='javascript:void(0)') О компании
		li.menu-v2__item
			a.menu-v2__link.menu-v2__link_active Услуги
		li.menu-v2__item
			a.menu-v2__link(href='javascript:void(0)') Сотрудники
		li.menu-v2__item
			a.menu-v2__link(href='javascript:void(0)') Контакты








