pre
	code.language-jade.
		ul.menu
			li.menu__item
				a.menu__link(href='javascript:void(0)') О компании
			
			li.menu__item
				a.menu__link.menu__link_active Услуги
			
			li.menu__item
				a.menu__link(href='javascript:void(0)') Сотрудники
			
			li.menu__item
				a.menu__link(href='javascript:void(0)') Контакты