extends ../templates/default/template.pug

block head
	- var path = '';
	- var pageTitle = 'Портфолио. Коченов Владимир';
	- var pageDescription = '';

block content
	main.content
		.content__wrap
			h1 Портфолио. Коченов Владимир
			include ../../blocks/catalog/catalog.pug
			