button(type="button").icon-chevron.icon-chevron_has-bg.icon-chevron_left
button(type="button").icon-chevron.icon-chevron_has-bg.icon-chevron_up
button(type="button").icon-chevron.icon-chevron_has-bg.icon-chevron_down
button(type="button").icon-chevron.icon-chevron_has-bg.icon-chevron_right
<br><br>
button(type="button").icon-chevron.icon-chevron_left
button(type="button").icon-chevron.icon-chevron_up
button(type="button").icon-chevron.icon-chevron_down
button(type="button").icon-chevron.icon-chevron_right