$component-id_color = $gray_light

$component-link_color = #0088cc

$component-area_gradient_first-color = $light
$component-area_gradient_second-color = $gray_lighten

.component
	padding-top 5px

	&__id
		display block
		padding-right 5px
		
		font-size 1.6rem
		line-height 1.2
		font-style italic
		text-align right

		color $component-id_color
		
		&::before
			content 'id: '
		
	&__area
		margin-bottom 20px
		padding 20px /*3%*/ 0
		
		$setResponsiveFont(15, 19.2, 320, 1600)

	a
		color $component-link_color