.catalog-list
	list-style-type none
	
	&__item
		margin-bottom 7%
		padding 5%
		background rgba(0,0,0,0.5)
		
		+above(800px)
			margin-bottom 5%
		
		+above(900px)
			margin-bottom 4%

	
	&__title
		display inline-block
		font-size 3rem
		margin-bottom 4%
		
		+above(700px)
			margin-bottom 2%
	
	&__text
		margin-bottom 4%
		
		+above(700px)
			margin-bottom 2%
	
	&__link
		margin-right 5%
		
		+above(850px)
			margin-right 3%
