ul.catalog-list

	li.catalog-list__item
		a.catalog-list__title(href="catalog/friflex-test", target="_blank") Тестовое задание Friflex
		//- p.catalog-list__text Тестовое задание для верстальщика.<br>Осторожно — видео со звуком.
		.catalog-list__links
			//- a.catalog-list__link(href="layouts/barbershop-adaptive/") макет
			//- a.catalog-list__link(href="catalog/barbershop-adaptive", target="_blank") демо
			a.catalog-list__link(href="https://github.com/econavi/friflex-test" target="_blank") исходники

	li.catalog-list__item
		a.catalog-list__title(href="catalog/lenta", target="_blank") Промо-страница для Lenta.ru
		//- p.catalog-list__text Тестовое задание для верстальщика.<br>Осторожно — видео со звуком.
		//- .catalog-list__links
			a.catalog-list__link(href="layouts/barbershop-adaptive/") макет
			a.catalog-list__link(href="catalog/barbershop-adaptive", target="_blank") демо
			a.catalog-list__link(href="https://github.com/econavi/garage/tree/master/app" target="_blank") исходники

	li.catalog-list__item
		a.catalog-list__title(href="catalog/pilots-test", target="_blank") Пример работы с Анимацией
		p.catalog-list__text Тестовое задание для верстальщика.<br>Осторожно — видео со звуком.
		//- .catalog-list__links
			a.catalog-list__link(href="layouts/barbershop-adaptive/") макет
			a.catalog-list__link(href="catalog/barbershop-adaptive", target="_blank") демо
			a.catalog-list__link(href="https://github.com/econavi/garage/tree/master/app" target="_blank") исходники

	li.catalog-list__item
		a.catalog-list__title(href="catalog/arendastart", target="_blank") Arendastart.ru
		p.catalog-list__text Адаптивный сайт под ключ для аренды помещений.<br>Выполненные работы: логотип, дизайн, верстка.
		.catalog-list__links
			//- a.catalog-list__link(href="layouts/barbershop-adaptive/") макет
			//- a.catalog-list__link(href="catalog/barbershop-adaptive", target="_blank") демо
			a.catalog-list__link(href="https://github.com/econavi/garage/tree/master/app" target="_blank") исходники

	li.catalog-list__item
		a.catalog-list__title(href="catalog/barbershop-adaptive", target="_blank") Barbershop-adaptive
		p.catalog-list__text Адаптивная верстка главной страницы сайта барбершопа. Учебный макет HTML-Academy. <br> При поддержке «CSS Flexible Box Layout Module»
		.catalog-list__links
			a.catalog-list__link(href="layouts/barbershop-adaptive/") макет
			a.catalog-list__link(href="catalog/barbershop-adaptive", target="_blank") демо
			a.catalog-list__link(href="https://github.com/econavi/barbershop-adaptive" target="_blank") исходники

	li.catalog-list__item
		a.catalog-list__title(href="catalog/lomohvat", target="_blank") Lomohvat
		p.catalog-list__text Адаптивная верстка лендинга приемки металлолома
		.catalog-list__links
			a.catalog-list__link(href="layouts/lomohvat/") макет
			a.catalog-list__link(href="catalog/lomohvat", target="_blank") демо
			a.catalog-list__link(href="https://github.com/econavi/lomohvat" target="_blank") исходники

	li.catalog-list__item
		a.catalog-list__title(href="catalog/barbershop", target="_blank") Barbershop
		p.catalog-list__text Статичная верстка сайта барбершопа. Учебный макет HTML-Academy
		.catalog-list__links
			a.catalog-list__link(href="layouts/barbershop/") макет
			a.catalog-list__link(href="catalog/barbershop", target="_blank") демо
			a.catalog-list__link(href="https://github.com/econavi/barbershop" target="_blank") исходники
