conteiner()
	max-width 1280px
	margin 0 auto
	padding 0 5%

.visualli-hidden
	position absolute
	width 1px
	height 1px
	margin -1px
	padding 0
	border 0
	clip rect(0 0 0 0)
	overflow hidden

html
	font-size 10px
	
body
	position relative
	background-color #000
	background-image url(../assets/img/general/main-bg-3.jpg)
	background-repeat no-repeat
	background-attachment fixed
	background-size cover
	background-position center center
	
	font-family 'Istok Web', sans-serif
	font-size 1.6rem
	line-height 1.2
	color #fff
	
	+above(560px)
		font-size 2rem

img
	max-width 100%
	height auto

a
	color #fff
	text-decoration none
	background-image linear-gradient(to top, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 5px, #fff 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 100px)
	// text-shadow 1px 0px #000, -1px 0px #000

	&:hover
		background-image none
	
	&:active
		background-image linear-gradient(to top, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 5px, #fff 6px, rgba(0,0,0,0) 6px, rgba(0,0,0,0) 100px)
	
	// &:visited
	// 	color #fff
	// 	text-decoration underline
	
h1
	$setResponsiveFont(33.178, 47.7, 320, 1600)
	// font-size 4.77rem
	line-height 1.1

.content
	min-width 320px
	padding 2% 0
	
	&__wrap
		conteiner()
