extends ../../templates/default/template.pug

block head
	- var path = '../';
	- var pageTitle = 'Дизайн макетов';
	- var pageDescription = '';

	-
		var list = [
			{url: 'barbershop/', name: 'Barbershop'},
			{url: 'lomohvat/', name: 'Lomohvat'},
			{url: 'barbershop-adaptive/', name: 'Barbershop-adaptive'}
		];


block content
	main.content
		.content__wrap
			h1 Макеты проектов
			include ../../../blocks/list/list.pug