.sliding-card
	.sliding-card__toggle.sliding-card__toggle_down
	
	.sliding-card__visible-content
		.component
			span.component__id proportional-block
			.component__area
				include ../../../libs/components/proportional-block/proportional-block.pug


	.sliding-card__hidden-content
		.code-area
			span.code-area__header pug
			.code-area__code-self
				include ../../../libs/components/proportional-block/proportional-block-code-pug.pug
		
		.code-area
			span.code-area__header stylus
			.code-area__code-self
				include ../../../libs/components/proportional-block/proportional-block-code-stylus.pug
