$colorList_bg = rgba($colorMain 0.7)
$colorTitle   = $colorSecond


.components-list
	padding 3% 5% 4%

	background $colorList_bg
	border-radius 5px
	
	&__title
		margin-bottom 3%
		
		font-size 3.31rem
		line-height 1.1
		
		color $colorTitle
		
	&__item
		margin-bottom 50px


	

		


			
	












