section.components-list
	h2.components-list__title Меню
	.components-list__item
		include ../components-included/menu/menu-v1.pug

	.components-list__item
		include ../components-included/menu/menu-v2.pug

	
	h2.components-list__title Иконки
	.components-list__item
		include ../components-included/icons/icon-chevron.pug

	
	h2.components-list__title Шрифты
	.components-list__item
		include ../components-included/fonts/responsive-font.pug

	
	h2.components-list__title Резиновые, пропорциональные блоки
	.components-list__item
		include ../components-included/proportional-block/proportional-block.pug


	h2.components-list__title Карточка товара
	.components-list__item
		include ../components-included/product-card/product-card.pug
