.proportional-block
	.proportional-block__wrapper
		.proportional-block__content
			span 1:1

.proportional-block
	.proportional-block__wrapper.proportional-block__wrapper_4x3
		.proportional-block__content
			span 4:3

.proportional-block
	.proportional-block__wrapper.proportional-block__wrapper_16x9
		.proportional-block__content
			span 16:9

.proportional-block
	.proportional-block__wrapper.proportional-block__wrapper_1x2
		.proportional-block__content
			span 1:2
