extends ../../../templates/default/template.pug

block head
	- var path = '../../';
	- var pageTitle = 'Макеты Barbershop-adaptive';
	- var pageDescription = '';

block content
	main.content
		.content__wrap
			h1 Макеты Barbershop-adaptive

			-
				var galleryList = [
					{
						url: 'assets/img/content/layouts/barbershop-adaptive/barbershop-adaptive-mobile.png',
						name: 'barbershop-adaptive-mobile.png'
					},
					{
						url: 'assets/img/content/layouts/barbershop-adaptive/barbershop-adaptive-tablet.png',
						name: 'barbershop-adaptive-tablet.png'
					},
					{
						url: 'assets/img/content/layouts/barbershop-adaptive/barbershop-adaptive-desktop.png',
						name: 'barbershop-adaptive-desktop.png'
					}
				]
			
			include ../../../../blocks/gallery/gallery.pug





