extends ../../../templates/default/template.pug

block head
	- var path = '../../';
	- var pageTitle = 'Библиотека компонентов';
	- var pageDescription = '';

block content
	main.content
		.content__wrap
			h1 Библиотека компонентов

			include ../../../../blocks/components-list/components-list.pug













