.sliding-card
	.sliding-card__toggle.sliding-card__toggle_down
	
	.sliding-card__visible-content
		.component
			span.component__id menu-v2
			.component__area
				include ../../../libs/components/menu-v2/menu-v2.pug
	
	
	.sliding-card__hidden-content
		.code-area
			span.code-area__header pug
			.code-area__code-self
				include ../../../libs/components/menu-v2/menu-v2-code-pug.pug
		
		.code-area
			span.code-area__header stylus
			.code-area__code-self
				include ../../../libs/components/menu-v2/menu-v2-code-stylus.pug
		
		.code-area
			span.code-area__header javascript
			.code-area__code-self
				include ../../../libs/components/menu-v2/menu-v2-code-js.pug





