include ../../../blocks/svg-icons/svg-icons.pug
include ../../../blocks/scripts/scripts.pug

doctype html
html(lang='ru')
	include ../../../blocks/head/head.pug
	body
		include ../../../blocks/header/header.pug
		block content
		include ../../../blocks/footer/footer.pug

		+yandex-metrika

		script(src= path + 'scripts/main.min.js')
		
